@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var resortsHomePage = Model.AncestorOrSelf("resortsHomePage") as ResortsHomePage;
}

<div class="header__buttons-mobile show-for-small-only">
    <div class="header__buttons-mobile-inner grid-x text-center">
        <div class="cell small-6">
            <a class="cta secondary-solid" data-toggle="booking">@Umbraco.GetDictionaryValue("Book")</a>
        </div>
        <div class="cell small-6">
            @resortsHomePage.ResortOffersLink.GetLink(cssClass: "cta secondary-solid", innerText: resortsHomePage.MobileOffersLinkText)
        </div>
    </div>
</div>
