<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="50a337bb-93fb-488c-85ca-f0b42621a1d2" Alias="aboutPage" Level="1">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-chat color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The About template provides further detail than the homepage on the chalets and full service offering available.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="5de84028-72a6-4995-8b60-eb912118a17f">redirectComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>