<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e31463c-2d96-454c-b36a-e957f95af7dc" Alias="accordionWithImage" Level="3">
  <Info>
    <Name>Accordion With Image</Name>
    <Icon>icon-thumbnail-list color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fb457d9e-2494-4b74-bf97-400d2a4a3ade</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>8133b7e3-4f5a-4ef5-a5d8-3dcaedaf1014</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The accordion element is used by templates which contain multiple pieces of related content and display them in a compact way.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
