<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b2c485d1-1a99-4346-924e-b905f02c845b" Alias="accommodationPanel" Level="3">
  <Info>
    <Name>Information Panel</Name>
    <Icon>icon-thumbnail-list color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>364c13af-7f56-4e29-a985-009bf981d4eb</Key>
      <Name>Text</Name>
      <Alias>accommodationText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description text displayed on the left.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3fdf063f-88c4-4a0f-9b09-9b7f754351b1</Key>
      <Name>Booking Link</Name>
      <Alias>bookingLink</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link displayed at the bottom of the module.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e33424ab-1e66-402f-aba4-cd40d7b32ac7</Key>
      <Name>Feature List</Name>
      <Alias>featureList</Alias>
      <Definition>ac8815a0-9f5b-48eb-a72b-0938d7ec0cd2</Definition>
      <Type>Umbraco.NestedContentElements</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List of links with their headers displayed on the right.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>