<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae4e58cb-1e3d-45d2-afa7-e77c099c8cbe" Alias="accommodationsPage" Level="1">
  <Info>
    <Name>Accommodations Page</Name>
    <Icon>icon-book color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The Accommodations Index page displays a listing of all accommodations at either a resort or group level.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>AccomodationsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1a2dee1b-38f0-4b0c-8b70-c06ba73b7f55">AccomodationsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c9a1f8b2-6832-4799-8132-ed6bc1caea97">accommodationDetailsPage</ContentType>
    <ContentType Key="c75f196a-154a-441b-a61f-4084f5e3700a">enquiryFormPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>