<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c9a1f8b2-6832-4799-8132-ed6bc1caea97" Alias="accommodationDetailsPage" Level="1">
  <Info>
    <Name>Accommodation Details Page</Name>
    <Icon>icon-book-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The Accommodation Details page shows the user detailed information of the selected accommodation.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="f5e6cb55-c35f-4f24-bdea-fbd30c1b7ff0">pageListingComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>AccomodationDetailsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c0ce2557-260f-4034-939e-95901b5531a6">AccomodationDetailsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2965e2e1-1fdc-4e56-a3c7-af57be682e0a</Key>
      <Name>Booking Link</Name>
      <Alias>bookingLink</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to the booking displayed on the listings and on the accommodation details page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Room &amp; Restaurant Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>43edaf5b-0cfa-47a7-9d94-f9b5949cd1ae</Key>
      <Name>Listing Features</Name>
      <Alias>listingFeatures</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Listing features list to be displayed for each individual accommodation type.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b0439789-6f3c-4efa-88ab-02d919e50b4a</Key>
      <Name>Listing Image Small</Name>
      <Alias>listingImageSmall</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Listing images are used for Accommodations Grid with Filter And Facilities module. The small listing image should be 570x230 pixels.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>de66980e-312e-42e1-8614-e4641aea210a</Key>
      <Name>Listing Type</Name>
      <Alias>listingType</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Type used for filtering and If more than one accommodation type separate by "|", Example: "type-1|type-2|type-3"]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a2e5cff6-515d-41b7-a866-c27b808c3956</Key>
      <Name>Price</Name>
      <Alias>price</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Price displayed on the listings and on the detail page. Example: $300]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Room &amp; Restaurant Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b5ae257d-1b1a-49b3-8502-2e4f0dad3b0c</Key>
      <Name>Thumbnail Image</Name>
      <Alias>thumbnailImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Thumbnail image should be 1280x910 pixels.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Listing</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Room &amp; Restaurant Details</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>