<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7455991-1cae-43e0-8d3b-541413142c9f" Alias="accommodationsGridWithFilter" Level="3">
  <Info>
    <Name>Accommodations Grid With Filter</Name>
    <Icon>icon-grid color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>37434ac4-06a0-458a-8ad4-e56c5afba44f</Key>
      <Name>Notes</Name>
      <Alias>notes</Alias>
      <Definition>79fa72aa-bb6d-4c7d-a8c3-d63f8570de8e</Definition>
      <Type>tooorangey.EditorNotes.v8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>