<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="55b698fb-037d-4144-af12-2bf80c820c76" Alias="blogDetailPage" Level="1">
  <Info>
    <Name>Blog Detail Page</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="f5e6cb55-c35f-4f24-bdea-fbd30c1b7ff0">pageListingComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>BlogDetailPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9da19190-665d-4a1d-a439-6a36b334bf5c">BlogDetailPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>95bffd90-e577-4a90-8a58-e6c5cba126f1</Key>
      <Name>Blog Category</Name>
      <Alias>blogCategory</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Category used for filtering and If more than one,separate by "|", Example: "cat 1|cat 2|cat 3"]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Blog Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d0be87d5-1963-4f90-a25e-0aed224da947</Key>
      <Name>Listing Date</Name>
      <Alias>listingDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Date displayed on the blog post and the blog landing page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3893b226-76fb-424d-8941-469829c9a283</Key>
      <Name>Listing Description</Name>
      <Alias>listingDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text displayed on the blog post.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>59db552f-10d1-45e9-8fbd-982af318eadf</Key>
      <Name>Listing Location</Name>
      <Alias>listingLocation</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Blog location displayed on the experience slider.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Blog Details</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Listing</Caption>
      <SortOrder>150</SortOrder>
    </Tab>
  </Tabs>
</ContentType>