<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5903617b-6fb0-40f2-b462-bf6264240014" Alias="blogLandingPage" Level="1">
  <Info>
    <Name>Blog Landing Page</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This template lists all of the individual blog posts on the website. It is only available from the group level.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>BlogIndexPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a048d839-0584-4e9b-91ce-722f8135fc39">BlogIndexPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="55b698fb-037d-4144-af12-2bf80c820c76">blogDetailPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>