<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c420e243-54b2-4c37-a48d-28b42411f1f6" Alias="componentsComposition" Level="2">
  <Info>
    <Name>Components Composition</Name>
    <Icon>icon-plugin color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5665157e-fe7d-4579-a407-f7283b7b120f</Key>
      <Name>Pop Up</Name>
      <Alias>popUp</Alias>
      <Definition>e37bbce2-0e4e-459e-a463-a6e61237297a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick a pop up to show on this page.
Pop ups are kept in the folder "Website Components > Pop Ups".]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Components</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Components</Caption>
      <SortOrder>600</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
