<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="64470de9-8e38-497d-a819-6bf139c7b0e3" Alias="contactGridItem" Level="2">
  <Info>
    <Name>Contact Grid Item</Name>
    <Icon>icon-grid color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>db190779-6d2b-4dc0-b070-a93718c0444d</Key>
      <Name>Section Contacts</Name>
      <Alias>sectionContacts</Alias>
      <Definition>3b328eb5-b550-48ad-8e44-54e4d5ba03a6</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Contact heading and details.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>087fc892-c95f-4591-97e0-9faf91fe2c63</Key>
      <Name>Section Heading</Name>
      <Alias>sectionHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional heading per section.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>