<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5d64bd4-2d59-4ed0-971e-7d98980e793e" Alias="detailPage" Level="1">
  <Info>
    <Name>Detail Page</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The detail template is used to provide the full information on a single area of the hotel website, such as a single room type, or the page with the contents of an offer.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="5af0694c-19dd-469d-b7c0-709b402a4f9b">landingPageListingComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>detailPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0473ea40-7f78-418d-b090-a412e59764a4">detailPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>
