<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1eda7007-e3ab-476c-9285-48bef01947f9" Alias="directionMapItem" Level="2">
  <Info>
    <Name>Direction Map Item</Name>
    <Icon>icon-pin-location color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content</Folder>
    <Compositions />
    <DefaultTemplate>DirectionMapItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7a295836-ec62-48cb-b648-7da309c44111">DirectionMapItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7dcdec72-7efb-4082-babe-c2f205dc9df5</Key>
      <Name>Destination</Name>
      <Alias>destination</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text description of the location displayed above the pin.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>877786e8-654d-4e89-a752-c36606a85a91</Key>
      <Name>Latitude</Name>
      <Alias>latitude</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dc9f710c-4a1c-49b5-b328-e78ef7ae6cba</Key>
      <Name>Longitude</Name>
      <Alias>longitude</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>