<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9a3a220-0688-47e2-babf-8dcf7526147c" Alias="errorPage" Level="1">
  <Info>
    <Name>Error Page</Name>
    <Icon>icon-application-error color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="781f2b77-88fe-4c3a-b05f-b5985f230c26">allowDeleteComposition</Composition>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>ErrorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38701499-e268-4be5-992e-b5849128c06f">ErrorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>187901d3-19ff-4038-beb3-953c862b3658</Key>
      <Name>Status Code</Name>
      <Alias>statusCode</Alias>
      <Definition>15b341ac-301a-4b1a-8c50-f2e1543289e7</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[404: Page Not Found - when trying to view a non-existing URL .
500: Internal Server Error - when a website error has occurred.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO</Caption>
      <SortOrder>70</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
