<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebf6ae84-ac17-4742-8e55-4b9c9c3f0d88" Alias="experiencesPage" Level="1">
  <Info>
    <Name>Experiences Page</Name>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The Experience Index page is used to display all active experiences of a resort, and at group level displays a filterable list of all experiences across all resorts. The filter can be by resort and by experience type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>ExperiencesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bf68b7df-12b7-4c0f-a38b-ac13d729dea0">ExperiencesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c75f196a-154a-441b-a61f-4084f5e3700a">enquiryFormPage</ContentType>
    <ContentType Key="9e7d851d-a29a-4cf8-aad8-8a0f85b71b5a">experienceDetailsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>