<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e7d851d-a29a-4cf8-aad8-8a0f85b71b5a" Alias="experienceDetailsPage" Level="1">
  <Info>
    <Name>Experience Details Page</Name>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The Experience Details page shows the user detailed information of the selected resort experience.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="b8ff08a8-be16-46d9-be37-163224d4f395">priorityLevelComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>ExperienceDetailsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="229b5890-843c-4777-b3cc-b1717a6102b3">ExperienceDetailsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>29d814a7-f12e-43c0-ad68-46e1cddec6e2</Key>
      <Name>Hide Link</Name>
      <Alias>hideLink</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to hide Read more link from the listing page.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>797b45b5-ef7b-402d-8aa4-5bc90e61eb55</Key>
      <Name>Listing Description</Name>
      <Alias>listingDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Experience text displayed on the experiences page.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>61eda799-8b7a-466d-a7ea-eca2543b83d3</Key>
      <Name>Listing Image</Name>
      <Alias>listingImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Listing image displayed on the experiences slider and should be 440x570 pixels.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ad7cf193-32cb-4a01-98a5-eef81585ac09</Key>
      <Name>Listing Link Override</Name>
      <Alias>listingLinkOverride</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To override the default listing link (which normally use the page URL) to a custom page or URL.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>51a28fd0-8884-46b8-9e30-372a467f0d90</Key>
      <Name>Listing Location</Name>
      <Alias>listingLocation</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Experience location displayed on the experiences slider.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c8e3e992-21aa-4d99-8207-ad67978080fc</Key>
      <Name>Listing Media</Name>
      <Alias>listingMedia</Alias>
      <Definition>ef562ad5-ad0f-46c1-a142-3da05cab520b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Single Image,Slide Images or Video to be displayed on the experiences page.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b9e1b8d9-d6d8-4125-aeba-bc5ca3cec560</Key>
      <Name>Listing Subtitle</Name>
      <Alias>listingSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Listing subtitle displayed on the experiences page.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0f5f94e8-242c-4c8a-8616-59abef1f6475</Key>
      <Name>Listing Title</Name>
      <Alias>listingTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Experience title displayed on the experiences slider and experiences page.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3224bc47-cbe1-4ae2-8fd8-a0d9126ac24a</Key>
      <Name>Listing Type</Name>
      <Alias>listingType</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Type used for filtering and If more than one experience separate by "|", Example: "adventure|beach"]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Listing</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>