<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="08f71c49-83fd-453a-8107-c868bc005fd5" Alias="featuredCarousel" Level="3">
  <Info>
    <Name>Featured Carousel</Name>
    <Icon>icon-columns color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>df5f06f2-ea59-4eb4-82fc-73f5ade8909a</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>3bc09b06-e74d-4881-a744-c2ce60423600</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A carousel of content which is to be promoted on the website.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8f17c9f9-0d92-43d7-9a52-ab085823362d</Key>
      <Name>Style</Name>
      <Alias>style</Alias>
      <Definition>6b756bc2-7e89-45ca-9f84-97dcb43ac387</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Single Image: On desktop devices this displays 3 items at a time. Mobile devices only see one item at a time.
Double Image: Only one carousel item is shown at a time. The secondary image is positioned over the primary.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
