<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eaa04df3-c232-4392-9709-5c991c6e4d7a" Alias="featuredExperienceSlider" Level="3">
  <Info>
    <Name>Featured Experience Slider</Name>
    <Icon>icon-pictures-alt-2 color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cddd3783-dd26-4a58-ba0e-a9fe8a8ef129</Key>
      <Name>Experiences</Name>
      <Alias>experiences</Alias>
      <Definition>3253414d-eea8-4879-b6c2-daa523a19729</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A full width carousel which highlights selected experiences.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>