<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="132d8f60-1484-4976-9d73-3ed8747a7d74" Alias="footerSocial" Level="3">
  <Info>
    <Name>Footer Social</Name>
    <Icon>icon-megaphone color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Footer</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fe85540c-f765-4a30-85ae-8f66c6986c03</Key>
      <Name>Notes</Name>
      <Alias>notes</Alias>
      <Definition>b39e97de-2b54-451e-abde-f884e04cc09f</Definition>
      <Type>tooorangey.EditorNotes.v8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>