<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11bb002e-f40c-4dea-b646-99469c7635e2" Alias="formsFolder" Level="2">
  <Info>
    <Name>Forms Folder</Name>
    <Icon>icon-folders color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="75ccacf9-68d0-4d2c-af1a-9030bd1a3a51">contactFormComponent</ContentType>
    <ContentType Key="46c271dd-45e1-43df-8280-c5a2010ce7e5">preRegistrationFormComponent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>