<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8b467ee5-7fa9-48f7-86d2-e36650f5f390" Alias="Form" Level="3">
  <Info>
    <Name>Form</Name>
    <Icon>icon-edit color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f0897c9f-be00-4994-a393-08d0ef7aa52c</Key>
      <Name>Form</Name>
      <Alias>formPicker</Alias>
      <Definition>2e7c1f8a-4720-4c97-8747-bab40824970f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick a form from the "Website Components / Forms" folder.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
