<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="64477009-d279-4542-a2d5-30dae9ec1159" Alias="galleries" Level="2">
  <Info>
    <Name>Galleries</Name>
    <Icon>icon-pictures-alt-2 color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1fefa8c9-4488-42c9-a7a1-768fd4f0968e">gallery</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>