<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ce72e8c-fd74-43cd-88c0-8c257f482dfa" Alias="gallerySliders" Level="3">
  <Info>
    <Name>Gallery Sliders</Name>
    <Icon>icon-pictures-alt-2 color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>87a90b74-4738-4faa-b39f-a3886d5073d4</Key>
      <Name>Galleries</Name>
      <Alias>galleries</Alias>
      <Definition>b411327b-cd9b-4eb7-90da-66c4d1dc9e3f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select galleries to be displayed in sliders.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>