<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3eccec36-2539-4777-b264-d47c58d6e1c3" Alias="galleryPage" Level="1">
  <Info>
    <Name>Gallery Page</Name>
    <Icon>icon-picture color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The gallery template displays a variety of images. These images are grouped into categories and displayed as thumbnails.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>GalleryPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d3b9bf52-0a34-4bef-9433-387b13191c91">GalleryPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>