<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7feb1d34-e98f-469b-adf2-b4cd2f56e029" Alias="genericCarousel" Level="3">
  <Info>
    <Name>Generic Carousel</Name>
    <Icon>icon-columns color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>018802fa-2b4b-4bb3-b9c9-7a7f991192c9</Key>
      <Name>Carousel</Name>
      <Alias>carousel</Alias>
      <Definition>ebfbbfae-ff7d-4cd4-9d7c-f96eb869a025</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Provides detail on what is available during the Winter and Summer seasons.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
