<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b48acaff-8b21-47b9-9e59-88b28379a6e0" Alias="gridWithFilter" Level="3">
  <Info>
    <Name>Grid With Filter</Name>
    <Icon>icon-grid color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b3fcab12-f741-4d16-b153-84f2e4583c8c</Key>
      <Name>Notes</Name>
      <Alias>notes</Alias>
      <Definition>47d4e728-ff24-467f-8daa-ba8b5393ba56</Definition>
      <Type>tooorangey.EditorNotes.v8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
