<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b9708f5-1be7-4c4e-873c-0cc29488fca3" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This template is used for the homepage of all sites.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="781f2b77-88fe-4c3a-b05f-b5985f230c26">allowDeleteComposition</Composition>
      <Composition Key="8495d5dc-7e91-49b0-99a8-3efdeceb8008">auxiliaryFoldersComposition</Composition>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="c420e243-54b2-4c37-a48d-28b42411f1f6">componentsComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4dcfb1b5-a195-440d-b83b-43d5ab794323">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5903617b-6fb0-40f2-b462-bf6264240014">blogLandingPage</ContentType>
    <ContentType Key="c75f196a-154a-441b-a61f-4084f5e3700a">enquiryFormPage</ContentType>
    <ContentType Key="b9a3a220-0688-47e2-babf-8dcf7526147c">errorPage</ContentType>
    <ContentType Key="ebf6ae84-ac17-4742-8e55-4b9c9c3f0d88">experiencesPage</ContentType>
    <ContentType Key="3782fe19-15d8-4ab9-a937-4a7399e48235">offersPage</ContentType>
    <ContentType Key="fbc3b926-f302-48a5-93a3-15bff946d38f">resortsHomePage</ContentType>
    <ContentType Key="38cb0d01-fe1d-4665-9624-fcc4f797791b">standardContentPage</ContentType>
    <ContentType Key="78f36ee3-8c92-4500-b5b6-fb1a296378a6">subscribePage</ContentType>
    <ContentType Key="146ca24c-a8b4-40bb-b3fb-9e0d4302cfb1">websiteComponents</ContentType>
    <ContentType Key="f9ad035a-291c-4c36-a531-7fb6c48974b6">websiteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>