<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42a53f59-7126-490b-990f-c375285d4747" Alias="landingPage" Level="1">
  <Info>
    <Name>Landing Page</Name>
    <Icon>icon-exit-fullscreen color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The landing page details one of the main sections of the website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>landingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d82dc0d4-58e8-4cb8-9342-d90490cafccd">landingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="50a337bb-93fb-488c-85ca-f0b42621a1d2">aboutPage</ContentType>
    <ContentType Key="c75f196a-154a-441b-a61f-4084f5e3700a">contactPage</ContentType>
    <ContentType Key="f5d64bd4-2d59-4ed0-971e-7d98980e793e">detailPage</ContentType>
    <ContentType Key="42a53f59-7126-490b-990f-c375285d4747">landingPage</ContentType>
    <ContentType Key="2cd477f7-8e07-449d-84cf-8865a2b58db8">locationPage</ContentType>
    <ContentType Key="38cb0d01-fe1d-4665-9624-fcc4f797791b">standardContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
