<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6732775e-980e-47b8-a53d-8793cd07d518" Alias="landingPageListLink" Level="2">
  <Info>
    <Name>Landing Page List Link</Name>
    <Icon>icon-article color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>502fff92-facb-405d-996f-11d3254fa234</Key>
      <Name>Page</Name>
      <Alias>page</Alias>
      <Definition>67ecf10f-4cee-49cc-a67d-11b5b4a30a49</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick a child page to display. The information is fetched from the 'Listing' tab on the page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
