<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5af0694c-19dd-469d-b7c0-709b402a4f9b" Alias="landingPageListingComposition" Level="2">
  <Info>
    <Name>Landing Page Listing Composition</Name>
    <Icon>icon-ordered-list color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8f182d41-0994-441a-81b6-682f4384822a</Key>
      <Name>Heading</Name>
      <Alias>listingHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A main heading.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d2811eac-3878-4942-a1c0-bfa4f3051507</Key>
      <Name>Image</Name>
      <Alias>listingImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image should be at least 500x360 pixels.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1679a38a-9a33-4e85-948a-f6ddb984eb10</Key>
      <Name>Image Slider</Name>
      <Alias>listingImageSlider</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1a2572fe-7756-41f3-a743-20572ffd494d</Key>
      <Name>Link Text</Name>
      <Alias>listingLinkText</Alias>
      <Definition>c0748850-7795-4f33-9c78-1e7420393720</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text to display on links to this page.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>91d87f8d-7186-4c34-85ed-f498da3f2e96</Key>
      <Name>Primary Link</Name>
      <Alias>listingPrimaryLink</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Usually a link for booking this item.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>61c5855d-1fe2-4f89-bdca-0d8440b83f80</Key>
      <Name>Text</Name>
      <Alias>listingText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A paragraph of descriptive content.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>eb36f66f-5930-4e28-9b58-f75f7974105a</Key>
      <Name>Notes</Name>
      <Alias>notes</Alias>
      <Definition>f50dd529-5b6e-4713-9539-d96bf6a737f4</Definition>
      <Type>tooorangey.EditorNotes.v8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Listing</Caption>
      <SortOrder>150</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
