<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="479c024d-36ea-4ee4-911f-d320ac2ea23d" Alias="landingPageSubPages" Level="3">
  <Info>
    <Name>Landing Page Sub Pages</Name>
    <Icon>icon-bulleted-list color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>81a0e071-9bd0-45b9-b045-6bb460784148</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>632d2ad7-3e51-4ac9-8533-21eae85e2310</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick pages from this section or add information directly.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>61a60dfa-ba87-4c94-a47c-cb42c65b87b9</Key>
      <Name>Style</Name>
      <Alias>style</Alias>
      <Definition>17be6e5e-c427-4598-93d7-383f83f0f2cc</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick between small images siding with content or much larger images positioned behind the content.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
