<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2cd477f7-8e07-449d-84cf-8865a2b58db8" Alias="locationPage" Level="1">
  <Info>
    <Name>Location Page</Name>
    <Icon>icon-map color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The location template provides information about the location of the hotel and details of how to get there.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>locationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="545e5a9f-815b-44a4-adf6-bb38853d64ff">locationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>
