<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0be3e76c-7174-4335-b0bf-8b4bcd743a1f" Alias="offerSlideItem" Level="2">
  <Info>
    <Name>Offer Slide Item</Name>
    <Icon>icon-thumbnails-small color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>09210eb4-ecac-43a6-bc65-e8a649eca3a3</Key>
      <Name>Offers</Name>
      <Alias>offers</Alias>
      <Definition>813b9c37-c2a3-41fc-bab3-3605eb85e580</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Selected offers (3) for each slide.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>