<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="40003c29-f76f-4829-b04f-8db2f112cd5b" Alias="offerDetailsPage" Level="1">
  <Info>
    <Name>Offer Details Page</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="b8ff08a8-be16-46d9-be37-163224d4f395">priorityLevelComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>OffersDetailsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2f775811-f55c-409b-8692-24c4d579516e">OffersDetailsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>633cf927-74a2-4249-8405-f3d8f2026267</Key>
      <Name>Booking Link</Name>
      <Alias>bookingLink</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to the offer booking displayed on the listings and on the offer detail page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Offer Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a113e661-7bad-4df4-9ee9-a290c12e18e9</Key>
      <Name>Listing Description</Name>
      <Alias>listingDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Offer listing description displayed on the offers slider.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7800f238-ec65-4204-a6ed-02aff86ed913</Key>
      <Name>Listing Features List</Name>
      <Alias>listingFeaturesList</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Listing features list displayed on the offers page.(Max 3)]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7dd0b4e4-7235-4837-9445-aaa61f5ef0b7</Key>
      <Name>Listing Image</Name>
      <Alias>listingImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Large image displayed on the offers slider when this offer is on the left of a slide and should be 600x250 pixels.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6d780b9d-1016-4aa7-925d-c3ae167a3cc8</Key>
      <Name>Listing Subtitle</Name>
      <Alias>listingSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Offer listing subtitle displayed on the offers page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4aa01679-092a-464f-8cc7-c5b62379cfe8</Key>
      <Name>Listing Title</Name>
      <Alias>listingTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Offer listing title displayed on the offers page and offers slider.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9672504f-51cf-432b-a5a4-3870a1874548</Key>
      <Name>Listing Type</Name>
      <Alias>listingType</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Type used for filtering and If more than one offer separate by "|", Example: "type-1|type-2|type-3"]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0bcc020e-6c36-4b48-88cd-20663433e496</Key>
      <Name>Price</Name>
      <Alias>price</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Price displayed on the listings and on the offer detail page. Example: $300]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Offer Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Listing</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Offer Details</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>