<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2544460b-a2e5-45ba-ba47-e351a2c06c6a" Alias="offersSlider" Level="3">
  <Info>
    <Name>Offers Slider</Name>
    <Icon>icon-pictures-alt-2 color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7baadaa5-7763-4397-aba4-6493a87da7f5</Key>
      <Name>All Offers Link</Name>
      <Alias>allOffersLink</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to all the offers.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d29db486-a6e9-4ec9-84d6-683577817b7f</Key>
      <Name>Offers</Name>
      <Alias>offers</Alias>
      <Definition>48cb3c47-b588-451a-90b1-a57e33585652</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Offers slide.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c9e6ad5a-b32e-4e8a-a61b-2691fdca7e93</Key>
      <Name>Offers Heading</Name>
      <Alias>offersHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Heading text displayed at the top of the module.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>