<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3782fe19-15d8-4ab9-a937-4a7399e48235" Alias="offersPage" Level="1">
  <Info>
    <Name>Offers Page</Name>
    <Icon>icon-item-arrangement color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The Offers Index page displays a listing of all offers at either a resort or group level.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>OffersPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9b4fffd2-2fe6-4539-91e0-a9ca9cc86be0">OffersPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="40003c29-f76f-4829-b04f-8db2f112cd5b">offerDetailsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>