<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5e6cb55-c35f-4f24-bdea-fbd30c1b7ff0" Alias="pageListingComposition" Level="2">
  <Info>
    <Name>Page Listing Composition</Name>
    <Icon>icon-bulleted-list color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3fd6daa0-7208-40bd-a84e-08d302fe33a5</Key>
      <Name>Listing Heading</Name>
      <Alias>listingHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Heading text used when this page is listed on another page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1dcd6822-d4d1-44ba-84c3-f8b2cbfe80e5</Key>
      <Name>Listing Image</Name>
      <Alias>listingImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Listing Image should be 450x425 pixels.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Listing</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Listing</Caption>
      <SortOrder>150</SortOrder>
    </Tab>
  </Tabs>
</ContentType>