<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="12351b49-f3ca-47c5-98a9-cfb3c43cdbde" Alias="popUpFolder" Level="2">
  <Info>
    <Name>Pop Up Folder</Name>
    <Icon>icon-folder-outline color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="625fb3fd-6847-47e9-b5de-49c24c932147">popUp</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
