<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f18b2e9f-0669-4812-aa2b-726709243fa1" Alias="preRegistrationPage" Level="1">
  <Info>
    <Name>Pre-Registration Page</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Pre-registration form for new guests.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="bbbae576-194d-455d-bacc-9a6cd3ec2401">markupComposition</Composition>
      <Composition Key="5de84028-72a6-4995-8b60-eb912118a17f">redirectComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>PreRegistrationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cf1f36be-03d4-48af-a84f-0558d6eb9d5a">PreRegistrationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="38cb0d01-fe1d-4665-9624-fcc4f797791b">standardContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>