<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5de84028-72a6-4995-8b60-eb912118a17f" Alias="redirectComposition" Level="2">
  <Info>
    <Name>Redirect Composition</Name>
    <Icon>icon-arrow-right color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>15720c0e-919f-4157-8903-706e028a4585</Key>
      <Name>Redirect To</Name>
      <Alias>redirectTo</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page will redirect to this address, if set.

This page is redirected even if it's published. As opposed to the "Manual Redirects" module which only redirects if the page is unpublished or doesn't exist.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Redirect</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Redirect</Caption>
      <SortOrder>700</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
