<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9e88cf2-fadd-43bc-8c7e-1055c102f5f8" Alias="resortsSlider" Level="3">
  <Info>
    <Name>Resorts Slider</Name>
    <Icon>icon-pictures-alt-2 color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0e40a02d-af06-4199-abe9-84524d8ca0ac</Key>
      <Name>Slider</Name>
      <Alias>slider</Alias>
      <Definition>651e1af8-c1d6-42b8-ae5a-2d5d34111113</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A full width carousel which highlights the range of resorts.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>