<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fbc3b926-f302-48a5-93a3-15bff946d38f" Alias="resortsHomePage" Level="1">
  <Info>
    <Name>Resorts Home Page</Name>
    <Icon>icon-thumbnails-small color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This page shows the user an overview of the resort and gives links to experiences.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>ResortsHomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="148dd7db-da7f-4a7e-98bf-c35d38955706">ResortsHomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c9a1f8b2-6832-4799-8132-ed6bc1caea97">accommodationDetailsPage</ContentType>
    <ContentType Key="ae4e58cb-1e3d-45d2-afa7-e77c099c8cbe">accommodationsPage</ContentType>
    <ContentType Key="c75f196a-154a-441b-a61f-4084f5e3700a">enquiryFormPage</ContentType>
    <ContentType Key="9e7d851d-a29a-4cf8-aad8-8a0f85b71b5a">experienceDetailsPage</ContentType>
    <ContentType Key="ebf6ae84-ac17-4742-8e55-4b9c9c3f0d88">experiencesPage</ContentType>
    <ContentType Key="3eccec36-2539-4777-b264-d47c58d6e1c3">galleryPage</ContentType>
    <ContentType Key="40003c29-f76f-4829-b04f-8db2f112cd5b">offerDetailsPage</ContentType>
    <ContentType Key="3782fe19-15d8-4ab9-a937-4a7399e48235">offersPage</ContentType>
    <ContentType Key="f18b2e9f-0669-4812-aa2b-726709243fa1">preRegistrationPage</ContentType>
    <ContentType Key="38cb0d01-fe1d-4665-9624-fcc4f797791b">standardContentPage</ContentType>
    <ContentType Key="78f36ee3-8c92-4500-b5b6-fb1a296378a6">subscribePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b4a36921-b44e-4c9c-b843-b7f9665d32d4</Key>
      <Name>Burger Menu Logo</Name>
      <Alias>burgerMenuLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Resort burger menu logo. (svg file)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Logos</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5dc53032-c924-4c6e-aab4-fcda4f9804f9</Key>
      <Name>Header Logo</Name>
      <Alias>headerLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Resort header logo file. (svg file)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Logos</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>36926eac-174b-4009-bf7d-83e7fb8830a4</Key>
      <Name>Resort Hotel Id</Name>
      <Alias>hotelId</Alias>
      <Definition>b2d3083a-3814-4291-a5c1-1db17bcc6bd9</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[TravelClick Booking Id used in the resort picker for the booking widget.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Resort Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>23010af5-b88d-4177-aa85-20ab6f54a7c2</Key>
      <Name>Mobile Offers Link Text</Name>
      <Alias>mobileOffersLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text displayed in the mobile header for the Resort Offers Link.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Resort Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0f2a723f-24e1-4a5c-a8cc-ad55645a96b8</Key>
      <Name>Primary Navigation</Name>
      <Alias>primaryNavigation</Alias>
      <Definition>298cb8e6-f49d-4f6f-bb19-96cac02ebae1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The primary navigation of the resort.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f09146e6-3e56-4790-bd97-b572821657aa</Key>
      <Name>Resort Browse Offers Link</Name>
      <Alias>resortBrowseOffersLink</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to the resort offers page displayed at the top of the Booking Widget.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Resort Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a9a9f730-510e-4384-8694-0b8e66ec9319</Key>
      <Name>Resort Offers Link</Name>
      <Alias>resortOffersLink</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A link to open the resort offers page displayed in the burger menu.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Resort Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3d1a1c80-065c-4c26-bbfb-3566d24a530a</Key>
      <Name>Resort Offers Text</Name>
      <Alias>resortOffersText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text displayed above the offers link displayed in the burger menu.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Resort Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Logos</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Resort Header</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>