<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="af811b69-e041-47b9-9f8d-d6f9b99df6fc" Alias="richTextEditor" Level="3">
  <Info>
    <Name>Rich Text Editor</Name>
    <Icon>icon-font color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>327b6cc4-5725-4d39-93b1-2a27f69cd8bd</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>9d936a9e-92f0-4052-9958-e6575ff99853</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>