<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3a5c6cd2-933f-4deb-9d9e-c78c862d7061" Alias="sliderWithFeaturesAndLinksItem" Level="2">
  <Info>
    <Name>Slider With Features and Links Item</Name>
    <Icon>icon-pictures-alt-2 color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6bc97e22-b17d-4116-8712-8de569ace52a</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Two images displaying overlapped.
Images should be at least 400x400 pixels.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
