<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a37af76-c74f-4eb8-a915-4a703efe4b9b" Alias="socialMediaEmbeds" Level="3">
  <Info>
    <Name>Social Media Embeds</Name>
    <Icon>icon-share color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2925058c-f93d-4945-b94c-b2092653a4fb</Key>
      <Name>Embed Items</Name>
      <Alias>embedItems</Alias>
      <Definition>0d35c947-1771-4902-b4a5-14ae14a05ec7</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the embed items that will be displayed on this module.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>