<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="38cb0d01-fe1d-4665-9624-fcc4f797791b" Alias="standardContentPage" Level="1">
  <Info>
    <Name>Standard Content Page</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This template is used for pages which require only simple, text based content of any length to be displayed.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="f5e6cb55-c35f-4f24-bdea-fbd30c1b7ff0">pageListingComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>standardContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1087cc33-20f8-4303-80bf-181347199fbb">standardContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5903617b-6fb0-40f2-b462-bf6264240014">blogLandingPage</ContentType>
    <ContentType Key="c75f196a-154a-441b-a61f-4084f5e3700a">enquiryFormPage</ContentType>
    <ContentType Key="ebf6ae84-ac17-4742-8e55-4b9c9c3f0d88">experiencesPage</ContentType>
    <ContentType Key="40003c29-f76f-4829-b04f-8db2f112cd5b">offerDetailsPage</ContentType>
    <ContentType Key="38cb0d01-fe1d-4665-9624-fcc4f797791b">standardContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>