<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="78f36ee3-8c92-4500-b5b6-fb1a296378a6" Alias="subscribePage" Level="1">
  <Info>
    <Name>Subscribe Page</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>SubscribePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="34d94e6c-3ea9-4a06-98fb-cbb7ba265d8d">SubscribePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="38cb0d01-fe1d-4665-9624-fcc4f797791b">standardContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>