<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="81fd1c79-2d13-4aec-9214-512eecbdb970" Alias="tabbedContent" Level="3">
  <Info>
    <Name>Tabbed Content</Name>
    <Icon>icon-tab-key color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5bcbeb9a-def0-4eec-9d3c-744efa452dbc</Key>
      <Name>Tabs</Name>
      <Alias>tabs</Alias>
      <Definition>5e1361ff-8903-4f32-aa1f-daadfee1bd8c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Multiple tabs each with their own content.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>