<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9ad035a-291c-4c36-a531-7fb6c48974b6" Alias="websiteSettings" Level="2">
  <Info>
    <Name>Website Settings</Name>
    <Icon>icon-settings color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="781f2b77-88fe-4c3a-b05f-b5985f230c26">allowDeleteComposition</Composition>
      <Composition Key="bbbae576-194d-455d-bacc-9a6cd3ec2401">markupComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f23e4ded-4d3e-4f7a-ba4e-1da906644930</Key>
      <Name>Banner CTA</Name>
      <Alias>bannerCTA</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the CTA link.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Notification Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>74f58831-18a8-41ef-97f2-28bd80be9f43</Key>
      <Name>Banner Text</Name>
      <Alias>bannerText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the main text of the banner.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Notification Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5fb0cf4a-e596-4f89-83e6-bfcfdf414fb8</Key>
      <Name>Book Direct Heading</Name>
      <Alias>bookDirectHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The accordion header for the Why book direct section.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Booking Widget</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>32803805-4d40-4f06-9dc0-905bbbb6b027</Key>
      <Name>Book Direct Link</Name>
      <Alias>bookDirectLink</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Booking link displayed at the bottom of the accordion.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Booking Widget</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7d2ca2dc-a94f-4ca1-be4d-e309f3e16307</Key>
      <Name>Book Direct Text</Name>
      <Alias>bookDirectText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text displayed in the book direct accordion.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Booking Widget</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b6979198-5805-4990-b467-7cdf227046c8</Key>
      <Name>Book Stay Heading</Name>
      <Alias>bookStayHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Heading displayed inside the booking widget.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Booking Widget</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>92d6f8e9-4c6e-4998-b63b-b6db0a3920e5</Key>
      <Name>Browse Offers Link</Name>
      <Alias>browseOffersLink</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to the offers page displayed at the top of the Booking Widget.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Booking Widget</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c48e8239-73b1-4577-9e39-1db75933b1e6</Key>
      <Name>Cookie Panel Text</Name>
      <Alias>cookiePanelText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text to be added in the cookie panel.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>General</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9eb3540f-6147-4069-ad3e-0b7793b974b9</Key>
      <Name>Copyright Message</Name>
      <Alias>copyrightMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Usually displays at the footer.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>General</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2d67d1de-f762-42d0-ac2c-d4900913f2ce</Key>
      <Name>Email From</Name>
      <Alias>emailFrom</Alias>
      <Definition>c445766e-5db5-44a3-94ad-39a4f834dda2</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Email</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>330d688d-7f8b-44ac-ad42-bc68ebc4cef3</Key>
      <Name>Facebook</Name>
      <Alias>facebook</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Facebook page address.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1acc9e2a-c123-4297-b3a3-ed929c2855fc</Key>
      <Name>Footer Elements</Name>
      <Alias>footerElements</Alias>
      <Definition>053e6e06-ae68-4040-9210-e7a4686ab0c4</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick what to display in the footer.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>076eb176-2058-4408-915e-49d0c79366dd</Key>
      <Name>Primary Navigation</Name>
      <Alias>headerPrimaryNavigation</Alias>
      <Definition>298cb8e6-f49d-4f6f-bb19-96cac02ebae1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The primary navigation of the group website which lists the links on the second column.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5d6a01e5-4e70-4e57-a289-1bce4c1126d4</Key>
      <Name>Hide Banner</Name>
      <Alias>hideBanner</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If selected, it will hide the notification banner.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Notification Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a7566b75-ee95-4d52-92bd-3d6eb632b302</Key>
      <Name>Image Compression</Name>
      <Alias>imageCompression</Alias>
      <Definition>556b1290-d9ff-4e79-b0b9-cf1198ccaf3f</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the image compression used for all images on the website. Compression can be set to help images load quicker.
From 0 to 100.
Default value is 0.
Recommended value is 30.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Media</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d66c2fda-e3b7-432a-8b1c-4bdc54b9b462</Key>
      <Name>Instagram</Name>
      <Alias>instagram</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Instagram page address.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2b8e7863-b107-4036-8fc1-fb2f013f5f43</Key>
      <Name>LinkedIn</Name>
      <Alias>linkedIn</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The LinkedIn page address.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e5d7d517-ef4d-4c79-a316-5039d666be1a</Key>
      <Name>Mobile Offers Link Text</Name>
      <Alias>mobileOffersLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text displayed in the mobile header for the Offers link.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c4c502d0-40ac-4313-a141-9e1ded01b103</Key>
      <Name>Offers Link</Name>
      <Alias>offersLink</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A link to open the group offers page in the burger menu.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3d176e64-ba2b-4df0-921b-2c611ea0f431</Key>
      <Name>Offers Text</Name>
      <Alias>offersText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text displayed above the offers link in the burger menu.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cd9e1d28-5f80-49a5-8c95-4046cc854ef6</Key>
      <Name>Open Graph image</Name>
      <Alias>openGraphImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the default Open Graph image associated with your media. We suggest that you use an image of at least 1200x1200 pixels.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>General</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7bffbbe9-8787-4934-9a05-e8aa62502c54</Key>
      <Name>Resort Picker</Name>
      <Alias>resortPicker</Alias>
      <Definition>4c083fdf-2402-43be-891f-644a8c25d7c8</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the resorts that will be displayed in the widget dropdown.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Booking Widget</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>73a69fa5-28d0-4a32-b332-cfda210a78b3</Key>
      <Name>Resorts Navigation</Name>
      <Alias>resortsNavigation</Alias>
      <Definition>298cb8e6-f49d-4f6f-bb19-96cac02ebae1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Primary navigation of the group website which lists the resorts links on the first column.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1edf289b-298e-460b-824c-1adadc9031a4</Key>
      <Name>Terms &amp; Condition Title</Name>
      <Alias>termsConditionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Terms and conditions text displayed at the bottom of the accordion.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Booking Widget</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b56455ae-c6e9-4bd6-a051-0785e777519c</Key>
      <Name>TikTok</Name>
      <Alias>tikTok</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The TikTok page address]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1bde1eb0-aa53-49e6-8833-3c5bf0e13685</Key>
      <Name>Twitter</Name>
      <Alias>twitter</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Twitter page address.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>de710e2c-c61e-4751-b690-ced1b47d8e6e</Key>
      <Name>Website Name</Name>
      <Alias>websiteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is used in the page title if no page title is set at the page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>General</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cee0dd7c-ba41-4ec9-94a5-51b0c9cb1043</Key>
      <Name>YouTube</Name>
      <Alias>youTube</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The youtube page address.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>General</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Booking Widget</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Notification Banner</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Media</Caption>
      <SortOrder>401</SortOrder>
    </Tab>
    <Tab>
      <Caption>Email</Caption>
      <SortOrder>402</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social</Caption>
      <SortOrder>403</SortOrder>
    </Tab>
  </Tabs>
</ContentType>