<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="146ca24c-a8b4-40bb-b3fb-9e0d4302cfb1" Alias="websiteComponents" Level="2">
  <Info>
    <Name>Website Components</Name>
    <Icon>icon-folder-close color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="781f2b77-88fe-4c3a-b05f-b5985f230c26">allowDeleteComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ba2eb957-1d39-4435-87f3-891d2a269540">activitiesFolder</ContentType>
    <ContentType Key="11bb002e-f40c-4dea-b646-99469c7635e2">formsFolder</ContentType>
    <ContentType Key="64477009-d279-4542-a2d5-30dae9ec1159">galleries</ContentType>
    <ContentType Key="12351b49-f3ca-47c5-98a9-cfb3c43cdbde">popUpFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>