<?xml version="1.0" encoding="utf-8"?>
<Content Key="00813046-b111-4b26-bf5e-351ee5cb3e83" Alias="Accommodations Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AccommodationsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>accommodationsPage</ContentType>
    <CreateDate>2020-04-17T18:12:01</CreateDate>
    <NodeName Default="Accommodations Page" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1a2dee1b-38f0-4b0c-8b70-c06ba73b7f55">AccomodationsPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bodyClass>
      <Value><![CDATA[]]></Value>
    </bodyClass>
    <bodyElements>
      <Value><![CDATA[[{"key":"6bd60ce8-8b12-43b1-86f2-cfaa3fe81780","name":"Slider Full Height","ncContentTypeAlias":"sliderFullHeight","sliderCaption":null,"slides":null,"video":"[]","showVideo":"0"},{"key":"c56f2fec-f20c-4bb7-8c03-258ee2ac7c25","name":"Breadcrumb","ncContentTypeAlias":"breadcrumb"},{"key":"48b17774-3dd2-4e39-92b8-af17adef5bbc","name":"Intro With CTA","ncContentTypeAlias":"introWithCTA","heading":null,"subHeading":null,"text":"<p> </p>\n<div style=\"display: none;\"></div>","ctaLink":"[]"},{"key":"9a5a6067-d7ca-47b2-915e-af0a010a0b9e","name":"Accommodations Grid With Filter","ncContentTypeAlias":"accommodationsGridWithFilter","selectTypeTitle":"Select Type"},{"key":"434c02bc-ea53-4305-b899-1b9684f6c79c","name":"Features","ncContentTypeAlias":"facilityFeatures","headingAndText":null,"featureList":""}]]]></Value>
    </bodyElements>
    <hideFromAllNavs>
      <Value><![CDATA[0]]></Value>
    </hideFromAllNavs>
    <hideInXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideInXMLSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <robotsOptions>
      <Value><![CDATA[[]]]></Value>
    </robotsOptions>
    <seoNotes>
      <Value><![CDATA[]]></Value>
    </seoNotes>
  </Properties>
</Content>