<?xml version="1.0" encoding="utf-8"?>
<Content Key="849138d6-ed69-43f0-8f82-e1dbbdb95826" Alias="Blog Detail Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogDetailPage</Path>
    <Trashed>false</Trashed>
    <ContentType>blogDetailPage</ContentType>
    <CreateDate>2020-04-17T18:13:26</CreateDate>
    <NodeName Default="Blog Detail Page" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="9da19190-665d-4a1d-a439-6a36b334bf5c">BlogDetailPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <blogCategory>
      <Value><![CDATA[]]></Value>
    </blogCategory>
    <bodyClass>
      <Value><![CDATA[]]></Value>
    </bodyClass>
    <bodyElements>
      <Value><![CDATA[[{"key":"73b6635e-29f2-49ed-947c-405f85f465c6","name":"Blog Post","ncContentTypeAlias":"blogPost","text":"<p> </p>\n<div style=\"display: none;\"></div>"},{"key":"29f89e5a-06fc-46a7-955d-9df397af90e6","name":"Page Navigation Slider","ncContentTypeAlias":"pageNavigationSlider","heading":null,"showSlider":0}]]]></Value>
    </bodyElements>
    <hideFromAllNavs>
      <Value><![CDATA[0]]></Value>
    </hideFromAllNavs>
    <hideInXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideInXMLSitemap>
    <listingDate>
      <Value><![CDATA[]]></Value>
    </listingDate>
    <listingDescription>
      <Value><![CDATA[<p> </p>
<div style="display: none;"></div>]]></Value>
    </listingDescription>
    <listingHeading>
      <Value><![CDATA[]]></Value>
    </listingHeading>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <robotsOptions>
      <Value><![CDATA[[]]]></Value>
    </robotsOptions>
    <seoNotes>
      <Value><![CDATA[]]></Value>
    </seoNotes>
  </Properties>
</Content>