<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d2f16e4-bb21-4bce-b1d9-9be592f9ce9a" Alias="Blog Landing Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogLandingPage</Path>
    <Trashed>false</Trashed>
    <ContentType>blogLandingPage</ContentType>
    <CreateDate>2020-04-17T18:14:13</CreateDate>
    <NodeName Default="Blog Landing Page" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="a048d839-0584-4e9b-91ce-722f8135fc39">BlogIndexPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bodyClass>
      <Value><![CDATA[]]></Value>
    </bodyClass>
    <bodyElements>
      <Value><![CDATA[[{"key":"20793e8b-38be-4ed0-a7ac-9de7fbc0d490","name":"Slider Full Height","ncContentTypeAlias":"sliderFullHeight","sliderCaption":null,"slides":null,"video":"[]","showVideo":"0"},{"key":"2af3d684-9504-4929-9c4f-8d98325adedc","name":"Blogs Grid With Filter","ncContentTypeAlias":"blogsGridWithFilter","text":"<p> </p>\n<div style=\"display: none;\"></div>"}]]]></Value>
    </bodyElements>
    <hideFromAllNavs>
      <Value><![CDATA[0]]></Value>
    </hideFromAllNavs>
    <hideInXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideInXMLSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <robotsOptions>
      <Value><![CDATA[[]]]></Value>
    </robotsOptions>
    <seoNotes>
      <Value><![CDATA[]]></Value>
    </seoNotes>
  </Properties>
</Content>