<?xml version="1.0" encoding="utf-8"?>
<Content Key="4253a057-2760-44b0-905c-0e09b72c7a6a" Alias="Enquiry Form Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EnquiryFormPage</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiryFormPage</ContentType>
    <CreateDate>2020-04-17T18:17:06</CreateDate>
    <NodeName Default="Enquiry Form Page" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="7be1426e-d38e-48cb-bc1f-6d1a5d7b6f7a">enquiryFormPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bodyClass>
      <Value><![CDATA[]]></Value>
    </bodyClass>
    <bodyElements>
      <Value><![CDATA[[{"key":"faf7e176-d7bd-43fb-8692-e545ed6fd97f","name":"Slider Full Height","ncContentTypeAlias":"sliderFullHeight","sliderCaption":null,"sliderSubheading":null,"sliderText":"","slides":null,"video":"[]","showVideo":"0"},{"key":"acbf4f01-6864-4ea9-af5a-a91f23bbe9f3","name":"Breadcrumb","ncContentTypeAlias":"breadcrumb"},{"key":"57f33a17-5e5a-49f0-b01e-c5546fbf1b9b","name":"Contact Details And Umbraco Form","ncContentTypeAlias":"contactDetailsAndUmbracoForm","text":"","formHeading":null,"form":null},{"key":"d534f0a3-8f4b-44b6-a099-1f6dff47c0d9","name":"Contact Grid","ncContentTypeAlias":"contactGrid","contacts":null}]]]></Value>
    </bodyElements>
    <hideFromAllNavs>
      <Value><![CDATA[0]]></Value>
    </hideFromAllNavs>
    <hideInXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideInXMLSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <robotsOptions>
      <Value><![CDATA[[]]]></Value>
    </robotsOptions>
    <seoNotes>
      <Value><![CDATA[]]></Value>
    </seoNotes>
  </Properties>
</Content>