<?xml version="1.0" encoding="utf-8"?>
<Content Key="76639a49-7447-4c10-9862-cd31fec3f770" Alias="Error Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ErrorPage</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <CreateDate>2020-04-21T13:22:20</CreateDate>
    <NodeName Default="Error Page" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="38701499-e268-4be5-992e-b5849128c06f">ErrorPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <allowDelete>
      <Value><![CDATA[0]]></Value>
    </allowDelete>
    <bodyClass>
      <Value><![CDATA[]]></Value>
    </bodyClass>
    <bodyElements>
      <Value><![CDATA[[{"key":"2c5e667d-4b4b-42b3-97c9-46f8764f588b","name":"Intro With CTA","ncContentTypeAlias":"introWithCTA","heading":null,"subHeading":null,"text":"<p> </p>\n<div style=\"display: none;\"></div>","ctaLink":"[]"}]]]></Value>
    </bodyElements>
    <hideFromAllNavs>
      <Value><![CDATA[0]]></Value>
    </hideFromAllNavs>
    <hideInXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideInXMLSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <robotsOptions>
      <Value><![CDATA[[]]]></Value>
    </robotsOptions>
    <seoNotes>
      <Value><![CDATA[]]></Value>
    </seoNotes>
    <statusCode>
      <Value><![CDATA[[]]]></Value>
    </statusCode>
  </Properties>
</Content>