<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e3dc75f-ad2c-4b40-b04f-9636a5d5627c" Alias="Experiences Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExperiencesPage</Path>
    <Trashed>false</Trashed>
    <ContentType>experiencesPage</ContentType>
    <CreateDate>2020-04-17T18:20:51</CreateDate>
    <NodeName Default="Experiences Page" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="bf68b7df-12b7-4c0f-a38b-ac13d729dea0">ExperiencesPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bodyClass>
      <Value><![CDATA[]]></Value>
    </bodyClass>
    <bodyElements>
      <Value><![CDATA[[{"key":"1d1ec2b3-bd08-4687-a623-d85d4ccd1927","name":"Slider Full Height","ncContentTypeAlias":"sliderFullHeight","sliderCaption":null,"sliderSubheading":null,"sliderText":"","slides":null,"video":"[]","showVideo":"0"},{"key":"9bc78df8-99b4-46a2-a13d-3bde488be967","name":"Breadcrumb","ncContentTypeAlias":"breadcrumb"},{"key":"20f86a60-c6f1-40ff-a668-0682df8e6413","name":"Intro With CTA","ncContentTypeAlias":"introWithCTA","heading":null,"subHeading":null,"text":"<p> </p>\n<div style=\"display: none;\"></div>","ctaLink":"[]"},{"key":"60a3090f-2804-4c9e-9b88-c9e149cdeb32","name":"Experiences Grid With Filter","ncContentTypeAlias":"experiencesGridWithFilter","filterTypeHeading":null,"filterHotelHeading":null,"hideFilter":null},{"key":"0464f591-f5b5-4077-a16b-790534245634","name":"Grid Panel","ncContentTypeAlias":"gridPanel","heading":null,"gridPanels":null}]]]></Value>
    </bodyElements>
    <hideFromAllNavs>
      <Value><![CDATA[0]]></Value>
    </hideFromAllNavs>
    <hideInXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideInXMLSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <robotsOptions>
      <Value><![CDATA[[]]]></Value>
    </robotsOptions>
    <seoNotes>
      <Value><![CDATA[]]></Value>
    </seoNotes>
  </Properties>
</Content>