<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba514b62-1a62-4116-b9a2-11cf6837762c" Alias="Experience Details Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExperienceDetailsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>experienceDetailsPage</ContentType>
    <CreateDate>2020-04-17T18:19:23</CreateDate>
    <NodeName Default="Experience Details Page" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="229b5890-843c-4777-b3cc-b1717a6102b3">ExperienceDetailsPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bodyClass>
      <Value><![CDATA[]]></Value>
    </bodyClass>
    <bodyElements>
      <Value><![CDATA[[{"key":"778ab4ae-43ce-489c-a1a2-449dd5400180","name":"Slider Full Height","ncContentTypeAlias":"sliderFullHeight","sliderCaption":null,"slides":null,"video":"[]","showVideo":"0"},{"key":"ef811a4f-b5bd-4f9c-bb6e-cc73ac0e875a","name":"Breadcrumb","ncContentTypeAlias":"breadcrumb"},{"key":"c6b9f8ca-6e0f-42eb-aa23-d2e06afa364e","name":"Experience Detail","ncContentTypeAlias":"experienceDetail","imageSidePanel":null,"description":"<p> </p>\n<div style=\"display: none;\"></div>","bookingLink":"[]"},{"key":"bb42e230-c74d-41fc-a96f-37abe6258970","name":"Experiences Slider","ncContentTypeAlias":"experiencesSlider","experiencesHeading":null,"allExperiencesLink":"[]","experiences":null}]]]></Value>
    </bodyElements>
    <hideFromAllNavs>
      <Value><![CDATA[0]]></Value>
    </hideFromAllNavs>
    <hideInXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideInXMLSitemap>
    <listingDescription>
      <Value><![CDATA[<p> </p>
<div style="display: none;"></div>]]></Value>
    </listingDescription>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingLocation>
      <Value><![CDATA[]]></Value>
    </listingLocation>
    <listingSubtitle>
      <Value><![CDATA[]]></Value>
    </listingSubtitle>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <listingType>
      <Value><![CDATA[]]></Value>
    </listingType>
    <listingVideo>
      <Value><![CDATA[[]]]></Value>
    </listingVideo>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <priorityLevel>
      <Value><![CDATA[[]]]></Value>
    </priorityLevel>
    <robotsOptions>
      <Value><![CDATA[[]]]></Value>
    </robotsOptions>
    <seoNotes>
      <Value><![CDATA[]]></Value>
    </seoNotes>
  </Properties>
</Content>