<?xml version="1.0" encoding="utf-8"?>
<Content Key="0235965b-bc3c-4e88-8ba2-0065975bc125" Alias="Gallery Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GalleryPage</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryPage</ContentType>
    <CreateDate>2020-04-17T18:21:54</CreateDate>
    <NodeName Default="Gallery Page" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="d3b9bf52-0a34-4bef-9433-387b13191c91">GalleryPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bodyClass>
      <Value><![CDATA[]]></Value>
    </bodyClass>
    <bodyElements>
      <Value><![CDATA[[{"key":"56e38de9-fedc-4ccb-9909-e2a3d92dd955","name":"Intro With CTA","ncContentTypeAlias":"introWithCTA","heading":null,"subHeading":null,"text":"<p> </p>\n<div style=\"display: none;\"></div>","ctaLink":"[]"},{"key":"3d5437fc-0095-482e-a5e8-8b7a88b3b5f0","name":"Gallery Sliders","ncContentTypeAlias":"gallerySliders","galleries":null}]]]></Value>
    </bodyElements>
    <hideFromAllNavs>
      <Value><![CDATA[0]]></Value>
    </hideFromAllNavs>
    <hideInXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideInXMLSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <robotsOptions>
      <Value><![CDATA[[]]]></Value>
    </robotsOptions>
    <seoNotes>
      <Value><![CDATA[]]></Value>
    </seoNotes>
  </Properties>
</Content>