<?xml version="1.0" encoding="utf-8"?>
<Content Key="467c0c6c-cf0a-4012-a61e-2c7a3b1a9bda" Alias="Offer Details Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfferDetailsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>offerDetailsPage</ContentType>
    <CreateDate>2020-04-17T18:27:04</CreateDate>
    <NodeName Default="Offer Details Page" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="2f775811-f55c-409b-8692-24c4d579516e">OffersDetailsPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bodyClass>
      <Value><![CDATA[]]></Value>
    </bodyClass>
    <bodyElements>
      <Value><![CDATA[[{"key":"3e4522b4-e5f4-438b-a82c-8c9a455ec8fa","name":"Slider Full Height","ncContentTypeAlias":"sliderFullHeight","sliderCaption":null,"slides":null,"video":"[]","showVideo":"0"},{"key":"77fdb103-35c2-4299-9111-572ae35ac221","name":"Breadcrumb","ncContentTypeAlias":"breadcrumb"},{"key":"be9db829-ba43-4806-9513-0e7d23f42268","name":"Offer Detail","ncContentTypeAlias":"offerDetail","heading":null,"subheading":null,"features":null,"description":"<p> </p>\n<div style=\"display: none;\"></div>","additionalInfo":null,"termsAndConditions":null}]]]></Value>
    </bodyElements>
    <bookingLink>
      <Value><![CDATA[[]]]></Value>
    </bookingLink>
    <hideFromAllNavs>
      <Value><![CDATA[0]]></Value>
    </hideFromAllNavs>
    <hideInXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideInXMLSitemap>
    <listingDescription>
      <Value><![CDATA[<p> </p>
<div style="display: none;"></div>]]></Value>
    </listingDescription>
    <listingFeaturesList>
      <Value><![CDATA[<p> </p>
<div style="display: none;"></div>]]></Value>
    </listingFeaturesList>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSubtitle>
      <Value><![CDATA[]]></Value>
    </listingSubtitle>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <listingType>
      <Value><![CDATA[]]></Value>
    </listingType>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <price>
      <Value><![CDATA[]]></Value>
    </price>
    <priorityLevel>
      <Value><![CDATA[[]]]></Value>
    </priorityLevel>
    <robotsOptions>
      <Value><![CDATA[[]]]></Value>
    </robotsOptions>
    <seoNotes>
      <Value><![CDATA[]]></Value>
    </seoNotes>
  </Properties>
</Content>