<?xml version="1.0" encoding="utf-8"?>
<Content Key="75db0c27-0008-4b67-ad4d-f6e54bb1c5b5" Alias="Standard Content Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StandardContentPage</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContentPage</ContentType>
    <CreateDate>2020-04-17T18:32:22</CreateDate>
    <NodeName Default="Standard Content Page" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1087cc33-20f8-4303-80bf-181347199fbb">standardContentPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bodyClass>
      <Value><![CDATA[]]></Value>
    </bodyClass>
    <bodyElements>
      <Value><![CDATA[[{"key":"38f1a900-e2de-41a9-a5c2-f7818ed3f1eb","name":"Slider Full Height","ncContentTypeAlias":"sliderFullHeight","sliderCaption":null,"slides":null,"video":"[]","showVideo":"0"},{"key":"8914e1c1-4d36-4612-a7cc-e9bc822862bb","name":"Intro With CTA","ncContentTypeAlias":"introWithCTA","heading":null,"subHeading":null,"text":"<p> </p>\n<div style=\"display: none;\"></div>","ctaLink":"[]"},{"key":"6eb17cfe-a950-441a-b1fc-ddc8e60a6008","name":"Tabbed Content","ncContentTypeAlias":"tabbedContent","tabs":null},{"key":"a7dc0aac-c263-4d8c-ad69-23dc62bf556d","name":"Video","ncContentTypeAlias":"video","videoLink":"[]"},{"key":"7f3bca0e-7bff-412f-bcb1-05d94f8b3e81","name":"Grid Panel","ncContentTypeAlias":"gridPanel","heading":null,"gridPanels":null},{"key":"f62b97f6-480a-44e0-bb21-6d4ee4804347","name":"Page Navigation Slider","ncContentTypeAlias":"pageNavigationSlider","heading":null,"showSlider":0}]]]></Value>
    </bodyElements>
    <hideFromAllNavs>
      <Value><![CDATA[0]]></Value>
    </hideFromAllNavs>
    <hideInXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideInXMLSitemap>
    <listingDate>
      <Value><![CDATA[]]></Value>
    </listingDate>
    <listingHeading>
      <Value><![CDATA[]]></Value>
    </listingHeading>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <robotsOptions>
      <Value><![CDATA[[]]]></Value>
    </robotsOptions>
    <seoNotes>
      <Value><![CDATA[]]></Value>
    </seoNotes>
  </Properties>
</Content>