@inherits UmbracoViewPage<RichTextEditor>

<div class="blog-post__container text-center">
    <div class="blog-post__text transform--will-fade-down transition--2000" data-animate-in-view="transform--completed-fade-down">
        @Model.Text
    </div>
</div>
