<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="30edfb17-d134-404c-806c-f380f0c93bab" Alias="Adults" Level="1">
  <Info>
    <Parent>Booking Widget</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Adults</Translation>
    <Translation Language="ar">بالغون</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Adultos</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Взрослые</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>