<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="889288fc-b8b3-4743-bb7d-3e9438929696" Alias="All" Level="1">
  <Info>
    <Parent>Filter Grid</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">All</Translation>
    <Translation Language="ar">الكل</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Все</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>