<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="59ea8750-533a-452c-9c79-f9671c940320" Alias="AVAILABLE AT:" Level="1">
  <Info>
    <Parent>Experiences</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">AVAILABLE AT:</Translation>
    <Translation Language="ar">متاحT:</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Disponible en</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">ДОСТУПНО T:</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>