<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="29082bb0-814e-403d-a3a1-6cfca5ad6e21" Alias="book your stay" Level="1">
  <Info>
    <Parent>Booking Widget</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">book your stay</Translation>
    <Translation Language="ar">احجز إقامتك</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Reserva Ahora</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">ЗАБРОНИРОВАТЬ</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>