<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dd390738-c9a3-4bf5-8303-a9fb6bb8409e" Alias="Check-in" Level="1">
  <Info>
    <Parent>Booking Widget</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Check-in</Translation>
    <Translation Language="ar">تسجيل الوصول</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">check-in</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Дата заезда</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>