<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="92dbc2fe-cac9-4595-ab4b-2195ee105ce7" Alias="CHECK AVAILABILITY" Level="1">
  <Info>
    <Parent>Booking Widget</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">CHECK AVAILABILITY</Translation>
    <Translation Language="ar">تأكد من التوافر</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Ver disponibilidad</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">ПРОВЕРИТЬ НАЛИЧИЕ МЕСТ</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>