<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f69f03b3-4240-442c-8140-1d3e641c2bd2" Alias="Check-out" Level="1">
  <Info>
    <Parent>Booking Widget</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Check-out</Translation>
    <Translation Language="ar">تسجيل الخروج</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">check-out</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Дата отъезда</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>