<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c0d2d7d3-7b6c-480a-9324-bb6e6aa487e4" Alias="Children" Level="1">
  <Info>
    <Parent>Booking Widget</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Children</Translation>
    <Translation Language="ar">اقرأ المزيد</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Niños</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Дети</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>