<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="07b7d8d5-0fa6-4a61-bfac-55102266850a" Alias="Choose your resort" Level="1">
  <Info>
    <Parent>Booking Widget</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Choose your resort</Translation>
    <Translation Language="ar">اقرأ المزيد</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Elige tu resort</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Выберите курорт</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>