<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd6519e8-5e90-4c39-92e6-eda6aada060b" Alias="EMAIL ADDRESS" Level="1">
  <Info>
    <Parent>Newsletter</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">EMAIL ADDRESS</Translation>
    <Translation Language="ar">عنوان البريد الإلكتروني</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">dirección de correo electrónico</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">АДРЕС ЭЛ. ПОЧТЫ</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>