<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0d2170fb-697b-45da-b099-9756e73db163" Alias="Filter Grid" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB"></Translation>
    <Translation Language="ar"></Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>