<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="583dbebf-1b72-427e-9f2f-7e16806621cb" Alias="Filter by:" Level="1">
  <Info>
    <Parent>Filter Grid</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Filter by:</Translation>
    <Translation Language="ar">تصفية حسب:</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Filtrar por</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Фильтр по:</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>