<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b917d3d1-0a59-44f7-a9c6-0a7fff28ba56" Alias="filter posts" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">filter posts</Translation>
    <Translation Language="ar">تصفية المنشورات</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">фильтр публикаций</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>