<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3f9cd65f-16a0-4ef1-b520-4d93a26643c2" Alias="FIRST NAME" Level="1">
  <Info>
    <Parent>Newsletter</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">FIRST NAME</Translation>
    <Translation Language="ar">الاسم الأول</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">nombre</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">ИМЯ</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>