<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="34cab467-eae4-467b-8ebc-fffbf9746aa7" Alias="Group.Website" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Group Website</Translation>
    <Translation Language="ar"></Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>