<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f6069ce4-caae-4ef9-be11-ef30f39cf805" Alias="LAST NAME" Level="1">
  <Info>
    <Parent>Newsletter</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">LAST NAME</Translation>
    <Translation Language="ar">الاسم الأخير</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">apellido</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">ФАМИЛИЯ</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>