<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bf1ab134-09a7-4102-8012-86d1e9d0620e" Alias="Magnify" Level="1">
  <Info>
    <Parent>Gallery</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Magnify</Translation>
    <Translation Language="ar">تكبير</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Увеличить</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>