<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ee85bb32-cbde-4e90-92e4-a52c435c3d3e" Alias="off" Level="1">
  <Info>
    <Parent>video controls</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">off</Translation>
    <Translation Language="ar">إيقاف</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">apagado</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">выкл</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>