<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e532fdc9-3ad0-4588-b154-60988980adc2" Alias="on" Level="1">
  <Info>
    <Parent>video controls</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">on</Translation>
    <Translation Language="ar">تشغيل</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">encendido</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">вкл.</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>