<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ff691f19-d88c-41c8-82b2-93cf0fc566d2" Alias="Price from" Level="1">
  <Info>
    <Parent>Offer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Price from</Translation>
    <Translation Language="ar">السعر يبدأ من</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Precios desde</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Цена от</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>