<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="add928f4-1f5d-4f3c-9aa4-23639d31beb7" Alias="read more" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">read more</Translation>
    <Translation Language="ar">اقرأ المزيد</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Leer más</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">подробнее</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>