<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="646a41a2-60b4-44d8-9501-e45efece3ba6" Alias="resort" Level="1">
  <Info>
    <Parent>Booking Widget</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">resort</Translation>
    <Translation Language="ar">اقرأ المزيد</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">resort</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">КУРОРТ</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>