<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e780b4c0-7fd9-4a1d-9d4d-bd0c8619f6f7" Alias="Subscribe" Level="1">
  <Info>
    <Parent>Newsletter</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Subscribe</Translation>
    <Translation Language="ar">اشتراك</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">suscríbete (you)</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Подписаться</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>