<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="712f3463-b5cd-4021-aa0b-63ff16ca6c97" Alias="Toggle" Level="1">
  <Info>
    <Parent>video controls</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Toggle</Translation>
    <Translation Language="ar">تبديل</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Переключить</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>