<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dfd1837d-f33b-4a96-b68f-154e4fb10376" Alias="view offer" Level="1">
  <Info>
    <Parent>Offer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">view offer</Translation>
    <Translation Language="ar">إظهار العرض</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Ver oferta</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">смотреть предложение</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>