<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="418c2d8c-2f9a-41c9-9206-7aac9562a26b" Alias="view more" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">view more</Translation>
    <Translation Language="ar">عرض المزيد</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Ver más</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">развернуть</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>