<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="067f84b9-33f1-4a68-8cd6-53b0016b0ba8" Alias="view all offers" Level="1">
  <Info>
    <Parent>Offer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">view all offers</Translation>
    <Translation Language="ar">إظهار جميع العروض</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Ver todas las ofertas</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">смотреть все предложения</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>