<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="53ce1fea-2538-47fc-9f2f-3aa8a344d3e0" Alias="view" Level="1">
  <Info>
    <Parent>Offer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">view</Translation>
    <Translation Language="ar">إظهار</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">ver offerta</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">смотреть</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>