<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="824f2938-77b6-4d81-a1b5-07f195a1d88e" Alias="view less" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">view less</Translation>
    <Translation Language="ar">عرض القليل</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Ver menos</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">свернуть</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>