<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dd066d6d-45ff-4bc3-bbe6-d33fbd630f4e" Alias="VOLUME" Level="1">
  <Info>
    <Parent>video controls</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">VOLUME</Translation>
    <Translation Language="ar">المستوى</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">volume</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">ОБЪЕМ</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>