<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5d9189db-2bfe-4843-83c5-b6f329d93aa9" Alias="You are here" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">You are here</Translation>
    <Translation Language="ar">أنت هنا</Translation>
    <Translation Language="de"></Translation>
    <Translation Language="es">Estás aquí</Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru">Вы здесь</Translation>
    <Translation Language="zh"></Translation>
  </Translations>
</Dictionary>