<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8133b7e3-4f5a-4ef5-a5d8-3dcaedaf1014" Alias="Accordion With Image" Level="2">
  <Info>
    <Name>Accordion With Image</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "accordionWithImageItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>
