<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b03b8685-8f82-48dd-9dbc-686fc2e5b2e4" Alias="Accordion" Level="2">
  <Info>
    <Name>Accordion</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "accordionItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>
