<?xml version="1.0" encoding="utf-8"?>
<DataType Key="108d2299-5bf2-4560-968a-0824a8c71dce" Alias="Body Elements" Level="2">
  <Info>
    <Name>Body Elements</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "accordion",
      "ncTabAlias": "Content",
      "nameTemplate": "Accordion"
    },
    {
      "ncAlias": "accordionWithImage",
      "ncTabAlias": "Content",
      "nameTemplate": "Accordion With Image"
    },
    {
      "ncAlias": "breadcrumb",
      "ncTabAlias": "Content",
      "nameTemplate": "Breadcrumb"
    },
    {
      "ncAlias": "contactDetailsAndUmbracoForm",
      "ncTabAlias": "Content",
      "nameTemplate": "Contact Details And Umbraco Form"
    },
    {
      "ncAlias": "coordinatesMap",
      "ncTabAlias": "Content",
      "nameTemplate": "Coordinates Map"
    },
    {
      "ncAlias": "detail",
      "ncTabAlias": "Content",
      "nameTemplate": "Detail"
    },
    {
      "ncAlias": "directionsMap",
      "ncTabAlias": "Content",
      "nameTemplate": "Directions Map"
    },
    {
      "ncAlias": "featuredCarousel",
      "ncTabAlias": "Content",
      "nameTemplate": "Featured Carousel"
    },
    {
      "ncAlias": "Form",
      "ncTabAlias": "Content",
      "nameTemplate": "Form"
    },
    {
      "ncAlias": "genericCarousel",
      "ncTabAlias": "Content",
      "nameTemplate": "Generic Carousel"
    },
    {
      "ncAlias": "gridWithFilter",
      "ncTabAlias": "Content",
      "nameTemplate": "Grid With Filter"
    },
    {
      "ncAlias": "imageCarouselWithHeadings",
      "ncTabAlias": "Content",
      "nameTemplate": "Image Carousel With Headings"
    },
    {
      "ncAlias": "imageGridWithText",
      "ncTabAlias": "Content",
      "nameTemplate": "Image Grid with Text"
    },
    {
      "ncAlias": "introCarousel",
      "ncTabAlias": "Content",
      "nameTemplate": "Intro Carousel"
    },
    {
      "ncAlias": "introWithCTA",
      "ncTabAlias": "Content",
      "nameTemplate": "Intro With CTA"
    },
    {
      "ncAlias": "landingPageSubPages",
      "ncTabAlias": "Content",
      "nameTemplate": "Landing Page Items"
    },
    {
      "ncAlias": "otherDetails",
      "ncTabAlias": "Content",
      "nameTemplate": "Other Details"
    },
    {
      "ncAlias": "overlappingImagesWithText",
      "ncTabAlias": "Content",
      "nameTemplate": "Overlapping Images With Text"
    },
    {
      "ncAlias": "overlappingImagesWithTextAndLink",
      "ncTabAlias": "Content",
      "nameTemplate": "Overlapping Images With Text and Link"
    },
    {
      "ncAlias": "quote",
      "ncTabAlias": "Content",
      "nameTemplate": "Quote"
    },
    {
      "ncAlias": "sliderFullHeight",
      "ncTabAlias": "Content",
      "nameTemplate": "Slider Full Height"
    },
    {
      "ncAlias": "sliderWithFeaturesAndLinks",
      "ncTabAlias": "Content",
      "nameTemplate": "Slider With Features and Links"
    },
    {
      "ncAlias": "sliderWithTextImageAndLinks",
      "ncTabAlias": "Content",
      "nameTemplate": "Slider With Text, Image and Links"
    },
    {
      "ncAlias": "richTextEditor",
      "ncTabAlias": "Content",
      "nameTemplate": "Rich Text Editor"
    },
    {
      "ncAlias": "video",
      "ncTabAlias": "Content",
      "nameTemplate": "Video"
    },
    {
      "ncAlias": "resortsSlider",
      "ncTabAlias": "Content",
      "nameTemplate": "Resorts Slider"
    },
    {
      "ncAlias": "experiencesSlider",
      "ncTabAlias": "Content",
      "nameTemplate": "Experiences Slider"
    },
    {
      "ncAlias": "offersSlider",
      "ncTabAlias": "Content",
      "nameTemplate": "Offers Slider"
    },
    {
      "ncAlias": "featuredExperienceSlider",
      "ncTabAlias": "Content",
      "nameTemplate": "Featured Experience Slider"
    },
    {
      "ncAlias": "socialWall",
      "ncTabAlias": "Content",
      "nameTemplate": "Social Wall"
    },
    {
      "ncAlias": "experiencesGridWithFilter",
      "ncTabAlias": "Content",
      "nameTemplate": "Experiences Grid With Filter"
    },
    {
      "ncAlias": "offersGridWithFilter",
      "ncTabAlias": "Content",
      "nameTemplate": "Offers Grid With Filter"
    },
    {
      "ncAlias": "offerDetail",
      "ncTabAlias": "Content",
      "nameTemplate": "Offer Detail"
    },
    {
      "ncAlias": "experienceDetail",
      "ncTabAlias": "Content",
      "nameTemplate": "Experience Detail"
    },
    {
      "ncAlias": "tabbedContent",
      "ncTabAlias": "Content",
      "nameTemplate": "Tabbed Content"
    },
    {
      "ncAlias": "gridPanel",
      "ncTabAlias": "Content",
      "nameTemplate": "Grid Panel"
    },
    {
      "ncAlias": "pageNavigationSlider",
      "ncTabAlias": "Content",
      "nameTemplate": "Page Navigation Slider"
    },
    {
      "ncAlias": "resortsHighlights",
      "ncTabAlias": "Content",
      "nameTemplate": "Resorts Highlights"
    },
    {
      "ncAlias": "accommodationsGridWithFilter",
      "ncTabAlias": "Content",
      "nameTemplate": "Accommodations Grid With Filter"
    },
    {
      "ncAlias": "facilityFeatures",
      "ncTabAlias": "Content",
      "nameTemplate": "Features"
    },
    {
      "ncAlias": "accommodationPanel",
      "ncTabAlias": "Content",
      "nameTemplate": "Information Panel"
    },
    {
      "ncAlias": "gallerySliders",
      "ncTabAlias": "Content",
      "nameTemplate": "Gallery Sliders"
    },
    {
      "ncAlias": "newsletterSubscriptionForm",
      "ncTabAlias": "Content",
      "nameTemplate": "Newsletter Subscription Form"
    },
    {
      "ncAlias": "inlineImageSocialFeedPanel",
      "ncTabAlias": "Content",
      "nameTemplate": "Inline Image SocialFeed Panel"
    },
    {
      "ncAlias": "contactGrid",
      "ncTabAlias": "Content",
      "nameTemplate": "Contact Grid"
    },
    {
      "ncAlias": "blogPost",
      "ncTabAlias": "Content",
      "nameTemplate": "Blog Post"
    },
    {
      "ncAlias": "blogsGridWithFilter",
      "ncTabAlias": "Content",
      "nameTemplate": "Blogs Grid With Filter"
    },
    {
      "ncAlias": "accommodationsGridWithFilterAndFacilities",
      "ncTabAlias": "Content",
      "nameTemplate": "Accommodations Grid With Filter And Facilities"
    },
    {
      "ncAlias": "socialMediaEmbeds",
      "ncTabAlias": "Content",
      "nameTemplate": "Social Media Embeds"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>