<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4a90816-5124-40bf-88ea-b251a8c8335f" Alias="Conditional Displayer - Image" Level="2">
  <Info>
    <Name>Conditional Displayer - Image</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "image",
  "showIfUnchecked": "socialFeed"
}]]></Config>
</DataType>