<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b328eb5-b550-48ad-8e44-54e4d5ba03a6" Alias="Contact With Details" Level="2">
  <Info>
    <Name>Contact With Details</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "contactWithDetailsItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>