<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b1ead27-7711-47e6-b11d-191248c474bb" Alias="Contact Grid" Level="2">
  <Info>
    <Name>Contact Grid</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "contactGridItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{sectionHeading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>