<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4fdf9895-7a89-47d7-9a1f-97ddf16fa65e" Alias="Directons Map" Level="2">
  <Info>
    <Name>Directons Map</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "directionMapItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{destination}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>