<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47d4e728-ff24-467f-8daa-ba8b5393ba56" Alias="Editor Notes - Activities" Level="2">
  <Info>
    <Name>Editor Notes - Activities</Name>
    <EditorAlias>tooorangey.EditorNotes.v8</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "editorNotes": "<p>Shows a grid of guest activities.<br />Manage activities at the \"Website Components / Activities\" folder.</p>",
  "hideLabel": "1",
  "noteRenderMode": "Html"
}]]></Config>
</DataType>
