<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79fa72aa-bb6d-4c7d-a8c3-d63f8570de8e" Alias="Editor Notes - Accommodation Grid" Level="2">
  <Info>
    <Name>Editor Notes - Accommodation Grid</Name>
    <EditorAlias>tooorangey.EditorNotes.v8</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "editorNotes": "<p>The grid will display the Accommodation Details child pages of the current landing page.</p>",
  "hideLabel": "1",
  "noteRenderMode": "Html"
}]]></Config>
</DataType>