<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f50dd529-5b6e-4713-9539-d96bf6a737f4" Alias="Editor Notes - Listing Composition" Level="2">
  <Info>
    <Name>Editor Notes - Listing Composition</Name>
    <EditorAlias>tooorangey.EditorNotes.v8</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "editorNotes": "<p>The information on this tab shows in other pages of the website where this page is referenced.</p>",
  "hideLabel": "1",
  "noteRenderMode": "Html"
}]]></Config>
</DataType>
