<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a794b54d-0eeb-4145-b02e-53e299204223" Alias="Editor Notes - Page Navigation Slider" Level="2">
  <Info>
    <Name>Editor Notes - Page Navigation Slider</Name>
    <EditorAlias>tooorangey.EditorNotes.v8</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "editorNotes": "<p>Slider will display sibling pages of the current page.</p>",
  "hideLabel": "1",
  "noteRenderMode": "Html"
}]]></Config>
</DataType>