<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82a3e70c-a64c-4442-9fc2-0944cba69196" Alias="Editor Notes - Footer Address" Level="2">
  <Info>
    <Name>Editor Notes - Footer Address</Name>
    <EditorAlias>tooorangey.EditorNotes.v8</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "editorNotes": "<p>The website name and address are fetched from the General tab.</p>",
  "hideLabel": "1",
  "noteRenderMode": "Html"
}]]></Config>
</DataType>
