<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3253414d-eea8-4879-b6c2-daa523a19729" Alias="Featured Experience Slider" Level="2">
  <Info>
    <Name>Featured Experience Slider</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "featuredExperienceSliderItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>