<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b756bc2-7e89-45ca-9f84-97dcb43ac387" Alias="Featured Carousel Style" Level="2">
  <Info>
    <Name>Featured Carousel Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Single Image"
    },
    {
      "id": 2,
      "value": "Double Image"
    }
  ]
}]]></Config>
</DataType>
