<?xml version="1.0" encoding="utf-8"?>
<DataType Key="053e6e06-ae68-4040-9210-e7a4686ab0c4" Alias="Footer Elements" Level="2">
  <Info>
    <Name>Footer Elements</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "footerForm",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    },
    {
      "ncAlias": "footerLogos",
      "ncTabAlias": "Content",
      "nameTemplate": "Logos"
    },
    {
      "ncAlias": "footerSocial",
      "ncTabAlias": "Content",
      "nameTemplate": "Social Links"
    },
    {
      "ncAlias": "footerCopyright",
      "ncTabAlias": "Content",
      "nameTemplate": "Copyright"
    },
    {
      "ncAlias": "footerNavigation",
      "ncTabAlias": "Content",
      "nameTemplate": "Navigation"
    },
    {
      "ncAlias": "footerAddress",
      "ncTabAlias": "Content",
      "nameTemplate": "Footer Address"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>