<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d284c0b0-01ca-43a8-85cc-6428df5cbb28" Alias="Gallery Items" Level="2">
  <Info>
    <Name>Gallery Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "galleryItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{text}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>