<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab2f8eb5-2aa8-49b6-8400-6b8def42b222" Alias="Google Maps Coordinates" Level="2">
  <Info>
    <Name>Google Maps Coordinates</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "googleMapsCoordinates",
      "ncTabAlias": "Content",
      "nameTemplate": "{{coordinates}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>
