<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7db2f2b5-b4bb-410c-b452-8da6bae26ee6" Alias="Header With Text" Level="2">
  <Info>
    <Name>Header With Text</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headerWithTextItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>