<?xml version="1.0" encoding="utf-8"?>
<DataType Key="298cb8e6-f49d-4f6f-bb19-96cac02ebae1" Alias="Header Navigation Items" Level="2">
  <Info>
    <Name>Header Navigation Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Website+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headerNavigationItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{link[0][\"name\"]}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>
