<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="1">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "96x115",
      "width": 96,
      "height": 115
    },
    {
      "alias": "250x250",
      "width": 250,
      "height": 250
    },
    {
      "alias": "300x260",
      "width": 300,
      "height": 260
    },
    {
      "alias": "345x345",
      "width": 345,
      "height": 345
    },
    {
      "alias": "400x400",
      "width": 400,
      "height": 400
    },
    {
      "alias": "400x530",
      "width": 400,
      "height": 530
    },
    {
      "alias": "420x280",
      "width": 420,
      "height": 280
    },
    {
      "alias": "435x525",
      "width": 435,
      "height": 525
    },
    {
      "alias": "440x425",
      "width": 440,
      "height": 425
    },
    {
      "alias": "440x570",
      "width": 440,
      "height": 570
    },
    {
      "alias": "450x425",
      "width": 450,
      "height": 425
    },
    {
      "alias": "500x360",
      "width": 500,
      "height": 360
    },
    {
      "alias": "530x500",
      "width": 530,
      "height": 500
    },
    {
      "alias": "540x300",
      "width": 540,
      "height": 300
    },
    {
      "alias": "560x660",
      "width": 560,
      "height": 660
    },
    {
      "alias": "570x230",
      "width": 570,
      "height": 230
    },
    {
      "alias": "570x410",
      "width": 570,
      "height": 410
    },
    {
      "alias": "590x400",
      "width": 590,
      "height": 400
    },
    {
      "alias": "600x250",
      "width": 600,
      "height": 250
    },
    {
      "alias": "600x500",
      "width": 600,
      "height": 500
    },
    {
      "alias": "640x420",
      "width": 640,
      "height": 420
    },
    {
      "alias": "640x339",
      "width": 640,
      "height": 339
    },
    {
      "alias": "640x460",
      "width": 640,
      "height": 460
    },
    {
      "alias": "640x640",
      "width": 640,
      "height": 640
    },
    {
      "alias": "740x620",
      "width": 740,
      "height": 620
    },
    {
      "alias": "900x500",
      "width": 900,
      "height": 500
    },
    {
      "alias": "1000x720",
      "width": 1000,
      "height": 720
    },
    {
      "alias": "1010x495",
      "width": 1010,
      "height": 495
    },
    {
      "alias": "1200x1200",
      "width": 1200,
      "height": 1200
    },
    {
      "alias": "1260x500",
      "width": 1260,
      "height": 500
    },
    {
      "alias": "1260x680",
      "width": 1260,
      "height": 680
    },
    {
      "alias": "1280x910",
      "width": 1280,
      "height": 910
    },
    {
      "alias": "2000x1125",
      "width": 2000,
      "height": 1125
    }
  ]
}]]></Config>
</DataType>