<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78da2081-d5d8-48a4-898e-c14495c66808" Alias="Image With Heading" Level="2">
  <Info>
    <Name>Image With Heading</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "imageWithHeadingItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>