<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc1a7b5a-f4da-4941-bd74-edea11849412" Alias="Image Carousel with Headings" Level="2">
  <Info>
    <Name>Image Carousel with Headings</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "imageCarouselWithHeadingsItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{image | ncNodeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>
