<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b49317a-b8b1-4856-9c31-02031797dd8f" Alias="Image Grid With Text" Level="2">
  <Info>
    <Name>Image Grid With Text</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "imageGridWithTextItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>
