<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03369930-32da-44f7-bfa7-bf4621175c38" Alias="Intro Carousel" Level="2">
  <Info>
    <Name>Intro Carousel</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "introCarouselItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{centerImage | ncNodeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>
