<?xml version="1.0" encoding="utf-8"?>
<DataType Key="632d2ad7-3e51-4ac9-8533-21eae85e2310" Alias="Landing Page List Items" Level="2">
  <Info>
    <Name>Landing Page List Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "landingPageListItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    },
    {
      "ncAlias": "landingPageListLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{page | ncNodeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>
