<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17be6e5e-c427-4598-93d7-383f83f0f2cc" Alias="Landing Page Items Style" Level="2">
  <Info>
    <Name>Landing Page Items Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Small Images"
    },
    {
      "id": 2,
      "value": "Large Images"
    }
  ]
}]]></Config>
</DataType>
