<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67ecf10f-4cee-49cc-a67d-11b5b4a30a49" Alias="Landing Page List Link" Level="2">
  <Info>
    <Name>Landing Page List Link</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$current",
    "id": null
  },
  "Filter": "detailPage",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>
