<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd6e9ed2-15b6-4134-ba98-0fa19400d343" Alias="MNTP - Experience Details" Level="2">
  <Info>
    <Name>MNTP - Experience Details</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "",
    "id": null
  },
  "Filter": "experienceDetailsPage,blogDetailPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>