<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e7c1f8a-4720-4c97-8747-bab40824970f" Alias="MNTP - Form" Level="2">
  <Info>
    <Name>MNTP - Form</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/websiteComponents/formsFolder",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>
