<?xml version="1.0" encoding="utf-8"?>
<DataType Key="813b9c37-c2a3-41fc-bab3-3605eb85e580" Alias="MNTP - Offers Details" Level="2">
  <Info>
    <Name>MNTP - Offers Details</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "",
    "id": null
  },
  "Filter": "offerDetailsPage",
  "MinNumber": 3,
  "MaxNumber": 3,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>