<?xml version="1.0" encoding="utf-8"?>
<DataType Key="651e1af8-c1d6-42b8-ae5a-2d5d34111113" Alias="Resort Slider" Level="2">
  <Info>
    <Name>Resort Slider</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "resortSliderItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{subheading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>