<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ad67e11-e491-47f1-ad73-27772bdc2966" Alias="Resort Highlights" Level="2">
  <Info>
    <Name>Resort Highlights</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "resortHighlightsItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>