<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2d3083a-3814-4291-a5c1-1db17bcc6bd9" Alias="Resorts Home Page - Hotel Id - Numeric" Level="1">
  <Info>
    <Name>Resorts Home Page - Hotel Id - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>