<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf7c35a9-fac4-4da2-b559-1a93913b2090" Alias="Slider With Features and Links" Level="2">
  <Info>
    <Name>Slider With Features and Links</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "sliderWithFeaturesAndLinksItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{images | ncNodeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>
