<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02f1edcd-b2d4-49da-8e8e-640f247b8cd6" Alias="Slider Full Height" Level="2">
  <Info>
    <Name>Slider Full Height</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "sliderFullHeightImageItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{image | ncNodeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>
