<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db39bd5a-c1cc-4653-9a06-42abc2962d25" Alias="Social Logos" Level="1">
  <Info>
    <Name>Social Logos</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Facebook.svg"
    },
    {
      "id": 2,
      "value": "Instagram.svg"
    },
    {
      "id": 3,
      "value": "Twitter.svg"
    },
    {
      "id": 4,
      "value": "Note.svg"
    },
    {
      "id": 5,
      "value": "tiktok.svg"
    }
  ]
}]]></Config>
</DataType>