<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d35c947-1771-4902-b4a5-14ae14a05ec7" Alias="Social Media Embed Item" Level="2">
  <Info>
    <Name>Social Media Embed Item</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "socialMediaEmbedPost",
      "ncTabAlias": "Content",
      "nameTemplate": "Social Media Embed Post"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>