<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca90e831-17a9-425d-b05c-674c4ee974a2" Alias="Social Wall Item - TikTok Embed code - Textarea" Level="1">
  <Info>
    <Name>Social Wall Item - TikTok Embed code - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>