<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e1361ff-8903-4f32-aa1f-daadfee1bd8c" Alias="Tabbed Content" Level="2">
  <Info>
    <Name>Tabbed Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "tabbedItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{tabHeading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>