<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0a1ba95-f3e7-4a14-b6d5-d02d87c08081" Alias="Tags - Activities" Level="2">
  <Info>
    <Name>Tags - Activities</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "Group": "Activities",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>
